* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	font:	16px verdana;
	min-height: 100%;
}

body {
	background: #404040 url(../img/bg.jpg);
	background-size: cover;
	height: 100%;
}
